/* .service-heading {
  color: rgba(255, 255, 255, 1);
  margin-top: 5%;
}
.service-container {
  display: flex;
}
.center-service {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.services-sticky .quest-text {
  width: "100%";
  text-align: center;
  margin-top: 10%;
  margin-bottom: 20px;
  color: rgba(185, 185, 185, 1);
}
.button-outter .service-btn {
  display: flex;
  background-color: red;
  justify-content: center;
} */
.audio-service {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-service {
  margin-top: 4%;
}
.quest-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.quest-container .quest-text {
  font-size: 2.875em;
  font-weight: 400;
  color: rgba(185, 185, 185, 1);
  margin-bottom: 2%;
}
.button-outter .blue-background {
  background-color: rgba(65, 176, 214, 1);
}
.white-background {
  background-color: #fff;
}
.move-right {
  right: -2%;
}
