.background-service {
  background-color: rgba(44, 53, 64, 1);
}
.service-heading {
  font-size: 32px;
  font-weight: 700;
  color: rgba(105, 211, 219, 1);
}
.service-desc {
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}
.service-title {
  font-size: 59px;
  font-weight: 400;
}

.service__single-image-wrap.service-heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.service-heading-wrapper h3 {
  padding: 20px;
}
