@font-face {
  font-family: "Universo-bold";
  src: url("../assets/font/Fontspring-DEMO-universo-bold.otf")
    format("opentype");
}
.about-heading {
  margin-right: 0;
  font-family: "Universo-bold";
  font-size: 59px;
  font-weight: 400;
}
.project-span {
  color: rgba(105, 211, 219, 1);
}
.about-desc {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  width: 70%;
  color: rgba(255, 255, 255, 0.83);
  margin-bottom: 10%;
  line-height: 1.4;
}
.blue-text {
  color: rgba(105, 211, 219, 1);
}
.approach-container {
  display: flex;
  margin-left: 7%;
}

.approach-right {
  width: 50%;
}
.approach-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  overflow-y: scroll;
}
.approach-left-content {
}
.approach-heading {
  color: rgba(255, 255, 255, 0.68);
  margin-bottom: 0;
}
.approach-title {
  font-size: 32px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.83);
}
.approach-desc {
  font-size: 17px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.83);
}
.approach-left-content img {
  margin-top: 20%;
}
.space-top-10 {
  margin-top: 5%;
}
.seperator-about {
  width: 100vh;
  margin-top: 10%;
}
