.descr {
  font-size: 22px;
  font-weight: 400;
  margin-top: 3%;
}

.project-page-item .main {
  width: 100%;
}
.slider-container {
  margin-top: 5%;
  margin: 10px;
}
.slider-container img {
  border-radius: 22px;
  padding: 10px;
}

.slider-item{
  display: flex !important;
}
