@font-face {
  font-family: "CreatoDisplay-Regular";
  src: url("./Components/assets/font/CreatoDisplay-Regular.otf")
    format("opentype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
